template(name='tvshows')
  .container-fluid
    h1 TV Shows
      small#scan.btn.btn-default.navbar-right Scan
    // .progress
    //   .progress-bar.progress-bar-info.progress-bar-striped(role="progressbar" style="width:20%")
    .row
      each tvshows
        .fixed-thumb
          .thumbnail
            img.img-rounded(src=image)
            .caption
              span #{name}
