.folder-item
  margin 10px 0px
.current-folder
  padding 10px
  border-radius 5px
body
  padding 50px 30px

left-width = 200px

.left
  width left-width
  float left
  text-align right
  padding 15px

.fixed-fluid
  margin-left left-width
  padding 15px
  border-left thin solid #ccc

.fixed-fixed
  margin-left left-width
  padding 15px
  border-left thin solid #ccc
  width 600px

.folder-entry
  border-radius 5px
  padding 5px
  margin 5px 0px

.dialog-entry
  margin 7px
